<div class="content" fxLayout="column">
  <div class="card">
    <div class="card__header" fxLayout="row" fxLayoutAlign="space-between">
      <div class="card__header-left" fxLayout="row">
        &nbsp;
        <div *ngFor="let crumb of crumbs$ | async, let i = index" fxLayout="row">
          <span class="line__label" *ngIf="i > 0"> > </span>
          <div class="line__label line__label-link" (click)="onClickCrumb(crumb.id)">{{crumb.name}}</div>
        </div>
      </div>
      <div class="card__header-right">
        <app-round-icon-button icon="icon-plus" (click)="onExpandAll()" class="card__spacer"></app-round-icon-button>
        <app-round-icon-button icon="icon-minus" (click)="onCollapseAll()"></app-round-icon-button>
      </div>
    </div>
    <div class="card__body" fxLayout="column">
      <div *ngFor="let line of visibleLines$ | async" [ngSwitch]="line.type">
        <app-database-line
          *ngSwitchCase="'database'"
          [line]="line">
        </app-database-line>
        <app-collection-line
          *ngSwitchCase="'collection'"
          [line]="line">
        </app-collection-line>
        <app-document-line
          *ngSwitchCase="'document'"
          [line]="line">
        </app-document-line>
        <app-field-line
          *ngSwitchCase="'field'"
          [line]="line">
        </app-field-line>
      </div>
    </div>
  </div>
</div>
