<h2 mat-dialog-title>Add an Email/Password user</h2>
<form #f="ngForm">
  <div fxLayout="column">
    <label for="email">Email</label>
    <input
      type="text"
      name="email"
      matInput
      placeholder="Enter your Email"
      ngModel
      email
      required
      #emailInput="ngModel">
    <label for="password">Password</label>
    <input
      type="password"
      matInput
      placeholder="Enter a Password"
      ngModel
      name="password"
      required
      #passwordInput="ngModel">
  </div>
</form>
<div class="button-bar" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
  <button mat-raised-button (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button
    [disabled]="f.invalid"
    (click)="onSubmit(f)"
    cdkFocusInitial>
    Add User
  </button>
</div>
