<div class="card">
  <div class="card__header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="card__header-left" fxLayout="row">
      &nbsp;
      <!-- <div *ngFor="let crumb of crumbs$ | async, let i = index" fxLayout="row">
        <span class="line__label" *ngIf="i > 0"> > </span>
        <div class="line__label line__label-link" (click)="onClickCrumb(crumb.id)">{{crumb.name}}</div>
      </div> -->
    </div>
  </div>
  <div class="card__body" fxLayout="row" fxLayoutAlign="start stretch">
    <!-- <div class="collection-col" fxLayout="column" fxLayoutAlign="center center" *ngIf="isLoadingCols$ | async">
      <mat-spinner class="spinner"></mat-spinner>
    </div> -->
    <div fxFlex="25" class="cascade-column" *ngIf="!(isLoadingCols$ | async)">
      <mat-list dense>
        <mat-list-item
          (click)="selectCollection(col.id)"
          [class.selected]="col.id === (selectedCol$ | async)"
          *ngFor="let col of collections$ | async">
          {{col.name}}
        </mat-list-item>
      </mat-list>
    </div>
    <div fxFlex="25" class="cascade-column" *ngIf="!(isLoadingDocs$ | async)">
      <mat-list dense>
        <mat-list-item
          (click)="selectDocument(doc.id)"
          [class.selected]="doc.id === (selectedDoc$ | async)"
          *ngFor="let doc of documents$ | async">
          {{doc.name}}
        </mat-list-item>
      </mat-list>
    </div>
    <div fxFlex="50" *ngIf="!(isLoadingFlds$ | async)">
      <mat-list dense>
        <mat-list-item
          *ngFor="let fld of fields$ | async">
          {{fld.name}} :<span class="field-value">&nbsp;"{{fld.value}}"</span>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
