
.card {
  margin: 2rem;
  border-radius: .6rem;
  background-color: var(--color-white-2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .3);

  &__header {
    font-size: 1.0rem;
    padding: 0.7rem;
    border-bottom: 1px solid var(--color-gray-light-4);
  }

  &__body {
    padding: .3rem .6rem;
    border-radius: .6rem;
    background-color: var(--color-white-1);
    min-height: 30rem;
  }

  &__header-left {
    font-size: 1.6rem;
  }

  &__header-right {
    display: flex;
    &:not(:last-child) {
      margin-right: .5rem;
    }
  }

  &__spacer {
    margin-right: 0.4rem;
  }
}

mat-list-item {
  cursor: pointer;
}

.cascade-column {
  border-right: 2px solid #ddd;
}

.spinner {
  display: block;
  text-align: center;
}

.selected,
mat-list-item:hover {
  background: #eee;
}

.field-value {
  font-weight: 500;
}
