.container {
  width: 16px;
  height: 100%;
  position: relative;

  display: grid;
  grid-template-columns: auto auto;
}

.right {
  border-right: 1px solid var(--color-gray-light-4);
}

.bottom {
  border-bottom: 1px solid var(--color-gray-light-4);
}

.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  z-index: 10;
}

.link,
.link:visited {
  cursor: pointer;
}

.icon {
  width: .70rem;
  height: .70em;
  pointer-events: none;
  padding: 1px;
  border: 1px solid var(--color-gray-light-4);
  background-color: var(--color-white-1);
}
